<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="layout-enchere(titrePage, contenuPage, ressourcesSupp)">
<head>
<meta charset="UTF-8">
<title data-th-replace="${titrePage}"data-th-text="#{nom-application}"></title>
<link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" data-th-href="@{/css/layout.css}">
<link rel="stylesheet" data-th-href="@{/css/general.css}">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>

<script data-th-src="@{/js/bootstrap.min.js}"></script>
<script data-th-src="@{/js/global.js}"></script>

<link rel="icon" data-th-href="@{/images/logo-auction.png}" sizes="32x32">
</head>
<body>
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

	<main data-th-replace="${contenuPage} ?: ~{}">Contenu de la page
	</main>

	<div data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div> 
</body>
</html>