<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-password" class="col-12 row">
	<div class="col-3 d-none d-md-block py-2">
		<label for="inputMotDePasse" data-th-text="#{Profil.motDePasse.req}" class="w-100 text-center col-form-label"></label>
	</div>
	<div class="col-12 col-md-3 py-2">
		<input type="password" id="inputMotdDePasse" required data-th-field="*{motDePasse}"
			data-th-readonly="${#strings.contains(action,'modifier')}" class="form-control"
			data-th-placeholder="#{Profil.motDePasse.req}" />
		<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('motDePasse')}"></div>
	</div>
	<div class="col-3 d-none d-md-block py-2">
		<label for="inputConfirmation" data-th-text="#{Profil.confirmation}" class="w-100 text-center col-form-label"></label>
	</div>
	<div class="col-12 col-md-3 py-2">
		<input type="password" id="inputConfirmation" required class="form-control"
			data-th-placeholder="#{Profil.confirmation}" />
		<div id="confirmationMdpErreur" class="d-none">
			<ul class="cards alert alert-danger d-inline-flex">
				<li data-th-text="#{validation.utilisateur.confirmationmdp.different}"></li>
			</ul>
		</div>
	</div>
	<script th:src="@{/js/password.js}" type="text/javascript"></script>
</div>