<header xmlns:th="http://www.thymeleaf.org" 
	data-th-fragment="frag-entete">
	<section id="nav-title">
		<h1>
			<a href="/" class="logo-container"><img class="logo"
				data-th-src="@{/images/logo-auction.png}"><span
				data-th-text="Eni-Encheres"></span></a>

			<th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
				<span data-th-text="'['+ ${membreEnSession.pseudo}+']'"></span>
			</th:block>

		</h1>
	</section>
	<nav>
		<ul>
			<li><a href="/articles">Accueil</a></li>


			<li><a href="/login">S'inscrire - Se connecter</a></li>
			
			<li><a href="/profil/modifier">test</a></li>
			
			<li><a href="/profil/creer">test2</a></li>
		</ul>
	</nav>
</header>
