<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<!-- Accueil comme titre de page -->
<title data-th-text="${utilisateur != null}?${utilisateur.pseudo}:'Profil Erreur'"></title>

<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/profil.css}">
</th:block>
</head>
<body>
	<main>
		<section th:if="${messageErreur}" > 
			<div class="alert alert-warning fs-3 mx-5 text-center" data-th-text="#{${messageErreur}}"></div>
		</section>
		<section th:if="${utilisateur != null}" class="entete-profil text-center"> 
			<h3 style="text-align: center;" data-th-text="${utilisateur.pseudo}"></h3>
			<div class="container text-start w-50">
				<ul>
					<li>
						<label data-th-text="#{Profil.prenom}"></label> 
						<span data-th-text="${utilisateur.prenom}"></span>
					</li>
					<li>
						<label data-th-text="#{Profil.nom}"></label> 
						<span data-th-text="${utilisateur.nom}"></span>
					</li>
					<li>
						<label data-th-text="#{Profil.email}"></label> 
						<span data-th-text="${utilisateur.email}"></span>
					</li>
					<li>
						<label data-th-text="#{Profil.telephone}"></label> 
						<span data-th-text="${utilisateur.telephone}"></span>
					</li>
				</ul>
			</div>
			<div th:if="${membreEnSession.pseudo == utilisateur.pseudo}" class="btn">
				<a class="btn btn-primary" data-th-text="#{Profil.btn.modifier}" data-th-href="@{/profil/modifier}"></a>
			</div>
			<div th:if="${membreEnSession.pseudo != utilisateur.pseudo}" class="btn">
				<a id="btnRetour" class="btn btn-primary" data-th-text="#{Profil.btn.retour}" ></a>
			</div>
		</section>
	</main>
</body>
</html>