<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<title data-th-text="Detail"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/Encheres.css}" />
</th:block>
</head>
<body>
	<main class="center-main">
		<div class="centred " data-th-object="${article}">
			<th:block
				data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') gt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
				<h1>Détail d'une vente</h1>
			</th:block>
			<!-- Add link to buyer profile -->
						<th:block
				data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
				<h1> 
				<th:block data-th-if="${membreEnSession.pseudo} != *{acquereur.pseudo}"> <a data-th-href="@{/???(id=${acquereur.pseudo})}"><span data-th-text="*{acquereur.pseudo}"></span></a> </th:block>
				<th:block data-th-if="${membreEnSession.pseudo} == *{acquereur.pseudo}"> <span>vous avez</span> </th:block>
				remporté la vente</h1>
			</th:block>
			
			<div class="container-info">
				<div>
					<p>
						<span class="label">Article :</span> <span data-th-text="*{nom}"></span>
					</p>
					<p>
						<span class="label">Catégorie :</span> <span>à faire</span>
					</p>
					<p>
						<span class="label">Description :</span> <span
							data-th-text="*{description}"></span>
					</p>
				</div>
				<div>
					<p>
						<span class="label">Mise à prix :</span> <span
							data-th-text="*{prixInitial}"></span>
					</p>

					<p>
						<span class="label">Meilleure offre :</span> <span
							data-th-text="*{statut}"></span>
					</p>

					<p>
						<span class="label">Fin de l'enchère :</span> <span
							data-th-text="*{dateFinEncheres}"></span>
					</p>
				</div>
				<div>
					<p>
						<span class="label">Retrait :</span> <span>à faire</span>
					</p>					

					<p>
						<span class="label">Vendeur :</span> <span
							data-th-text="*{vendeur.pseudo}"></span>
					</p>
					<!-- add debut date condition -->
					<th:block
						data-th-if="${membreEnSession.pseudo} != *{vendeur.pseudo}">
						<form data-th-action="@{/enchaire}" method="post">
							<label for="inputEnchere"> <span class="label">Mon
									enchère: </span></label> <input type="number" id="inputEnchere"
								onkeydown="return false;" data-th-min="*{statut + 1}"
								data-th-max="${membreEnSession.credit}"
								data-th-value="*{statut + 1}" /> <a href="/"
								class="validation-button-sm">Encherir</a>

							<!-- add enchaire to model -->
							<!-- data-th-field="*{montant}"  -->
						</form>

					</th:block>


				</div>


			</div>
			<a href="/" class="validation-button">Retour</a>

		</div>

	</main>
</body>
</html>
