<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<!-- Accueil comme titre de page -->
<title>Liste des enchères</title>

<th:block id="ressources-css">
	<link rel="stylesheet" href="/css/encheres.css">
</th:block>
</head>
<body>
	<main>
		<section class="entete-encheres">
			<h3 style="text-align: center;">Liste des enchères</h3>
			<div class="container">
				<div class="filtres">
					<label>Filtres :</label> <input type="text" class="input-text"
						placeholder="Le nom de l'article contient"> <label
						for="category">Catégorie :</label> <select id="category"
						class="select-box">
						<option>Toutes</option>
					</select>
					<th:block data-th-if="${#authorization.expression('hasRole(''USER'')')}">
						<div class="filtres-radios">
							<div class="filtres-radio">
								<input type="radio" id="achats" name="type" checked> <label
									for="achats">Achats</label>
							</div>
							<select class="select-box">
								<option>Enchères ouvertes</option>
								<option>Mes enchères en cours</option>
								<option>Mes enchères remportées</option>
							</select>
							<div class="filtres-radio">
								<input type="radio" id="ventes" name="type"> <label
									for="ventes">Mes ventes</label>
							</div>
							<select class="filtres-select">
								<option>Mes ventes en cours</option>
							</select>
						</div>
					</th:block>
				</div>

				<div class="btn-filtres">
					<button class="btn">Rechercher</button>
					<button class="btn">Annuler</button>
				</div>
			</div>
		</section>
		<section class="cards">
			<div class="card mb-8" style="max-width: 540px;"
				data-th-each="article : ${articles}">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="" class="img-fluid rounded-start" alt="Image de l'article">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title" data-th-text="${article.nom}">Titre
								Article</h5>
							<th:block th:if="${article.prixVente == 0}">
								<p class="card-text" data-th-text="${article.prixInitial} + ' point(s)'">Prix</p>
							</th:block>
							<th:block th:unless="${article.prixVente == 0}">
								<p class="card-text" data-th-text="${article.prixVente} + ' point(s)'">Prix</p>
							</th:block>

							<p class="card-text" data-th-text="${article.dateFinEncheres}">Fin de l'enchère</p>
							<p class="card-text">Vendeur</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>