<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<!-- Accueil comme titre de page -->
<title data-th-text="#{Password.titreForm.modifier}"></title>

<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/profil.css}">
</th:block>
</head>
<body>
	<main class="w-100">
		<form data-th-action="@{/profil/modifier/password}" method="post" class="password-form w-75 mx-auto row"
		id="password-form" data-th-object="${personne}">
	
			<h1 class="text-center" data-th-text="#{Password.titreForm.modifier}"></h1>
			
			<div data-th-replace="~{fragments/fragment-password :: frag-password('modifier')}"></div>
			
			<div class="col-12 col-md-5 py-2 text-center">
				<button id="bouton-soumettre" class="btn btn-primary" type="submit" data-th-text="#{Profil.btn.modifier}"></button>
			</div>
			<div class="col-md-5 d-none d-md-block py-2 text-center">
				<a id="btnRetour" class="btn btn-secondary" data-th-text="#{Profil.btn.annuler}" ></a>
			</div>
		</form>
	</main>
</body>
</html>