<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<title data-th-text="Detail"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/Encheres.css}" />
</th:block>
</head>
<body>
	<main class="center-main">
		<div class="centred">
			<h1>Détail d'une vente</h1>
			<div class="container-info">
				<div>
					<p>
						<span class="label">Article :</span> <span>Disque Dur</span>
					</p>

					<p>
						<span class="label">Catégorie :</span> <span>Informatique</span>
					</p>

					<p>
						<span class="label">Description :</span> <span>Bla bla
							blabalbalbalbalb blaba blabalba balbalba blablab</span>
					</p>

				</div>
				<div>
					<p>
						<span class="label">Mise à prix :</span> <span>1 point(s)</span>
					</p>

					<p>
						<span class="label">Meilleure offre :</span> <span>1
							point(s)</span>
					</p>

					<p>
						<span class="label">Fin de l'enchère :</span> <span>01/06/202X</span>
					</p>
				</div>
				<div>
					<p>
						<span class="label">Retrait :</span> <span>3 rue Mickaël
							Faraday 44800 SAINT HERBLAIN</span>
					</p>

					<p>
						<span class="label">Vendeur :</span> <span>coach_toto</span>
					</p>

				</div>


			</div>
						<a href="/" class="validation-button">Retour</a>
			
		</div>

	</main>
</body>
</html>
