<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<!-- Accueil comme titre de page -->
<title data-th-text="#{Admin.utilisateurs.title}"></title>

<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/profil.css}">
</th:block>
</head>
<body>
	<main>
		<section class=""> 
			<table class="table">
				<thead>
					<th data-th-text="#{Profil.pseudo}"></th>
					<th data-th-text="#{Profil.prenom}"></th>
					<th data-th-text="#{Profil.nom}"></th>
					<th data-th-text="#{Profil.email}"></th>
					<th data-th-text="#{Profil.telephone}"></th>
					<th data-th-text="#{Profil.adresse}"></th>
					<th data-th-text="#{Profil.credit}"></th>
					<th data-th-text="#{Profil.administrateur}"></th>
					<th data-th-text="#{Admin.action}" colspan="3"></th>
				</thead>
				<tbody>
				<tr th:each="utilisateur: ${listeUtilisateurs}">
				    <td>
				    	<a class="nav-link btn btn-light shadow" th:text="${utilisateur.pseudo}" 
				    	th:href="@{/profil/view?utilisateurPseudo=__${utilisateur.pseudo}__}"></a></td>
				    <td th:text="${utilisateur.prenom}" />
				    <td th:text="${utilisateur.nom}" />
				    <td th:text="${utilisateur.email}" />
				    <td th:text="${utilisateur.telephone}" />
				    <td th:text="${utilisateur.adresse}" />
				    <td th:text="${utilisateur.credit}" />
				    <td th:text="${utilisateur.isAdministrateur}" />
				    <td><a  data-th-href="@{/profil/anonymiser/utilisateur?utilisateurPseudo=__${utilisateur.pseudo}__}"
					  	class="btn btn-warning btn-sm py-1 "
					  	th:data-confirm-delete="|#{Profil.anonymiser.utilisateur('__${utilisateur.pseudo}__')}?|"
					  	onclick="return confirm(this.getAttribute('data-confirm-delete'))"
						data-th-text="#{Admin.btn.anonymiser}"></a></td>
				    <td><a  data-th-href="@{/profil/desactiver/utilisateur?utilisateurPseudo=__${utilisateur.pseudo}__}"
					  	class="btn btn-warning btn-sm py-1 "
					  	th:data-confirm-delete="|#{Profil.desactiver.utilisateur('__${utilisateur.pseudo}__')}?|"
					  	onclick="return confirm(this.getAttribute('data-confirm-delete'))"
						data-th-text="#{Admin.btn.desactiver}"></a></td>
					<td><a  data-th-href="@{/profil/supprimer/utilisateur?utilisateurPseudo=__${utilisateur.pseudo}__}"
					  	class="btn btn-danger btn-sm py-1 "
					  	th:data-confirm-delete="|#{Profil.supprimer.utilisateur('__${utilisateur.pseudo}__')}?|"
					  	onclick="return confirm(this.getAttribute('data-confirm-delete'))"
						data-th-text="#{Admin.btn.supprimer}" data-th-data-utilisateur="${utilisateur.pseudo}"></a></td>
				</tr>
				</tbody>
			</table>
			<div class="btn">
				<a id="btnRetour" class="btn btn-primary" data-th-text="#{Profil.btn.retour}" ></a>
			</div>
		</section>
	</main>
</body>
</html>