<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">

<head>
<title data-th-text="inscription"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-form.css}" />
</th:block>
</head>
<body>
	<main class="center-main">
		<form th:action="@{/login}" method="post">
			<ul class="flex-outer">
				<li><label for="username"> Identifiant :</label> <input id="username"
					type="text" name="username" /></li>
				<li><label for="password">Mot de passe :</label> <input id="password"
					name="password" type="password"/></li>
				<li>
					<button type="submit">Connexion</button>
					<a href="/tofigureout">Mot de passe oublié</a>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
