<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css}
					)}">

<head>
<title data-th-text="Detail"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/Encheres.css}" />
</th:block>
</head>
<body>
	<main class="center-main">
		<div class="centred " data-th-object="${article}">
			<th:block
				data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') gt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
				<h1>Détail d'une vente</h1>
			</th:block>
			<th:block
				data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
				<h1>
					<th:block
						data-th-if="*{encheres.size() > 0}  and ${membreEnSession.pseudo} != *{encheres.get(0).utilisateur.pseudo}">
						<a data-th-href="@{/profil/view?(utilisateurPseudo=*{encheres.get(0).utilisateur.pseudo})}"
							data-th-text="*{encheres.get(0).utilisateur.pseudo}"> </a>
						<span> a</span>
					</th:block>
					<th:block
						data-th-if=" *{encheres.size() > 0} and ${membreEnSession.pseudo} == *{encheres.get(0).utilisateur.pseudo}">
						<span>Vous avez</span>
					</th:block>
					remporté la vente
				</h1>
			</th:block>

			<div class="container-info">
				<div>
					<p>
						<span class="label">Article :</span> <span data-th-text="*{nom}"></span>
					</p>
					<p>
						<span class="label">Catégorie :</span> <span
							data-th-text="*{categorie.libelle}"></span>
					</p>
					<p>
						<span class="label">Description :</span> <span
							data-th-text="*{description}"></span>
					</p>
				</div>
				<div>
					<p>
						<span class="label">Mise à prix :</span> <span
							data-th-text="*{prixInitial} + ' point(s)'"></span>
					</p>

					<p>
						<span class="label">Meilleure offre :</span> <span
							th:text="*{prixVente} >= *{prixInitial} ? *{prixVente} + ' point(s) par ' + *{encheres[0].utilisateur.pseudo} :  *{prixInitial} + ' point(s)'"></span>
					</p>

					<p>
						<span class="label">Fin de l'enchère :</span> <span
							data-th-text="*{dateFinEncheres}"></span>
					</p>
				</div>
				<div>
					<p>
						<span class="label">Retrait :</span> <span
							data-th-text="*{adresse}"></span>
					</p>
					<p>
						<span class="label">Vendeur :</span> <span
							data-th-text="*{vendeur.pseudo}"></span>
					</p>
					<th:block
						data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') gt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}">
						<th:block
							data-th-if="${membreEnSession.pseudo} != *{vendeur.pseudo} and ( *{encheres.size() > 0} ? ${membreEnSession.pseudo} != *{encheres.get(0).utilisateur.pseudo} : true)">
							<form data-th-action="@{/articles/enchere}" method="post"
								th:object="${enchere}">

								<input type="hidden" data-th-field="*{articleAVendre.id}"
									data-th-value="${article.id}" /> <input type="hidden"
									data-th-field="*{utilisateur.pseudo}"
									data-th-value="${membreEnSession.pseudo}" /> <label
									for="inputEnchere"> <span class="label">Mon
										enchère: </span></label> <input type="number" id="inputEnchere"
									onkeydown="return false;"
									name="montant"
									data-th-min="${article.prixVente + 1}"
									data-th-max="${membreEnSession.credit}"
									data-th-value="${article.prixVente + 1}"
									 />
								<button type="submit" class="validation-button-sm">Enchérir</button>
							</form>
						</th:block>
					</th:block>
					<th:block
						data-th-if="${#temporals.format(article.dateFinEncheres, 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')} and *{encheres.size() > 0} and ${membreEnSession.pseudo} == *{encheres.get(0).utilisateur.pseudo}">
						<p>
							<span class="label">Téléphone :</span> <span
								data-th-text="*{vendeur.telephone}"></span>
						</p>
					</th:block>
				</div>


			</div>
			<a href="/" class="validation-button">Retour</a>

		</div>

	</main>
</body>
</html>
